@import url('https://://fonts.googleapis.com/css2?family=Commissioner&display=swap');
*{
    margin: 0;
    padding: 0;
}

.awal {
    margin: 0 auto;
}

.bagAtas {
    margin-top: 100px;
    background-color: rgb(212, 212, 212) ;
    display: flex;
}

.kiri {
    width: 300px;
}

.kiri img {
    width: 150px;
    display: block;
    margin: 10px auto;
}

.kiri hr{
   height: 7px;
   background-color: rgb(128, 128, 128) ;;
   border: none;
   margin: none;
}

.content {
    text-align: center;
    margin: 10px 30px;
    width: 710px;
}

.content p {
    font-size: 17px;
}

.content hr {
    width: 200px;
    margin: 10px auto;
}
.kanan {
    width: 300px;
}

.kanan img {
    width: 200px;
    padding: 10px;
    display: block;
    margin: auto;
}

/* Bag_Tengah */

#bagTengah {
    font-family: 'Roboto', sans-serif;;
    display: flex;
    padding: 40px 40px 10px 40px;
}

#bagTengah .satu {
    float: left;
    margin: auto;
    margin-right: 5px;
    background-color: rgb(212, 212, 212) ;;
    width: 200px;
    height: 1px;
    border: none;
}


#bagTengah .dua {
    float: left;
    margin: auto;
    margin-left: 5px;
    background-color: rgb(212, 212, 212) ;;
    width: 200px;
    border: none;
    height: 1px;
}


#bagTengah p {
    float: left;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

/* Bag_Bawah */

#bagBawah {
    background-color: white;
    font-family: 'Roboto', sans-serif;;
    /* position: relative; */
    display: flex;
    margin: 0 auto;
    height: 50px;
}

.rowKiri img, .rowTengah img, .rowKanan img {
    width: 150px;
    height: 100px;
}

.rowKiri, .rowTengah, .rowKanan {
    width: 500px;
}

#bagBawah img {
    display: block;
    margin: 0 auto;
}

.isi {
    font-size: 12px;
    text-align: center;
    padding: 10px 80px;

}

.judul {
    text-align: center;
    font-size: 30px;
}

.latarbelakang {
    background-color: rgb(212, 212, 212) ;
    height: 250px;
}
